# vim: ft=zsh

typeset -U path fpath infopath

export LANG=en_US.UTF-8
export CLICOLOR=1
export EDITOR=nvim
export READNULLCMD=less
export MANPAGER='nvim +Man!'
{{- if .dev.docker }}
export DOCKER_BUILDKIT=1
{{ end -}}
export GPG_TTY=$(tty)
{{- if .os.macos }}
export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
export HOMEBREW_NO_ANALYTICS=1
{{- end }}
{{- if .dev.go }}
export GOPATH="$HOME/go"
{{- end }}
export CARGO_REGISTRIES_CRATES_IO_PROTOCOL=sparse

# man highlighting
export LESS_TERMCAP_mb=$(tput bold; tput setaf red)   # begin bold
export LESS_TERMCAP_md=$(tput setaf 74)               # begin bold
export LESS_TERMCAP_me=$(tput sgr0)                   # begin bold
export LESS_TERMCAP_us=$(tput smul; tput setaf 182)   # begin underline
export LESS_TERMCAP_ue=$(tput rmul; tput sgr0)        # begin underline
export LESS_TERMCAP_so=$(tput smso)                   # begin standout-mode - info box
export LESS_TERMCAP_se=$(tput rmso; tput sgr0)        # begin standout-mode - info box

{{ if .os.macos -}}
## Env vars for Rust cross-compilation
#export CC_aarch64_unknown_linux_gnu=aarch64-unknown-linux-gnu-gcc
#export CXX_aarch64_unknown_linux_gnu=aarch64-unknown-linux-gnu-g++
#export AR_aarch64_unknown_linux_gnu=aarch64-unknown-linux-gnu-ar
#export CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-unknown-linux-gnu-gcc

export CC_x86_64_unknown_linux_gnu=x86_64-unknown-linux-gnu-gcc
export CXX_x86_64_unknown_linux_gnu=x86_64-unknown-linux-gnu-g++
export AR_x86_64_unknown_linux_gnu=x86_64-unknown-linux-gnu-ar
export CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER=x86_64-unknown-linux-gnu-gcc

export HOMEBREW_PREFIX="/opt/homebrew"
export HOMEBREW_REPOSITORY="/opt/homebrew"
export HOMEBREW_CELLAR="$HOMEBREW_PREFIX/Cellar"
infopath=(
 "$HOMEBREW_PREFIX/share/info"
  $infopath
)
{{- end }}
