#!/bin/sh

{{ if .os.macos -}}
brew bundle --no-upgrade --no-lock --file=- <<EOF
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
# brew "dagger/tap/dagger"
# brew "messense/macos-cross-toolchains/x86_64-unknown-linux-gnu"
brew "bat"
brew "editorconfig"
brew "fd"
brew "fzf"
brew "git"
brew "git-delta"
brew "gnupg"
brew "htop"
brew "jq"
brew "lsd"
{{ if .dev.podman -}}
brew "podman"
{{ end -}}
brew "ripgrep"
brew "rtx"
brew "socat"
brew "starship"
brew "tmux"
brew "tokei"
brew "yq"
cask "1password-cli"
cask "raycast"
cask "wezterm"
{{ if .dev.docker -}}
cask "docker"
{{ end -}}
cask "protonvpn"
EOF
{{ else if .os.linux }}
  {{ if .os.arch }}
pacman -Syu \
  bat \
  editorconfig-core-c \
  fd \
  fzf \
  lsd \
  neovim \
  ripgrep \
  starship \
  tmux
  {{ end }}
{{ end -}}
