#!/bin/sh

{{ if .os.macos -}}
brew bundle --no-upgrade --file=- <<EOF
brew "bat"
brew "editorconfig"
brew "fd"
brew "fish"
brew "fzf"
brew "git"
brew "git-delta"
brew "gnupg"
brew "hougesen/tap/kdlfmt"
brew "htop"
brew "jq"
brew "lsd"
brew "mise"
brew "nushell"
{{ if .dev.container.podman -}}
brew "podman"
{{ end -}}
brew "ripgrep"
brew "socat"
brew "starship"
brew "tokei"
brew "tree-sitter"
brew "yq"
cask "1password-cli"
cask "font-iosevka"
cask "font-victor-mono"
cask "ghostty"
cask "raycast"
cask "wezterm"
{{ if .dev.container.docker -}}
cask "docker"
{{ end -}}
cask "protonvpn"
EOF
{{ else if .os.linux }}
  {{ if .os.arch }}
pacman -Syu \
  bat \
  editorconfig-core-c \
  fd \
  fzf \
  lsd \
  neovim \
{{ if .dev.container.podman -}}
  podman \
{{ end -}}
  ripgrep \
  starship \
  tmux
  {{ end }}
{{ end -}}
