theme "catppuccin-mocha"
pane_frames false
copy_on_select true
scroll_buffer_size 10000
show_startup_tips false
ui {
  pane_frames {
    rounded_corners true
    hide_session_name false
  }
}
keybinds clear-defaults=true {
  locked {
    bind "Ctrl Shift g" {
      SwitchToMode "Normal"
    }
  }
  normal {
    bind "Super p" {
      LaunchOrFocusPlugin "plugin-manager" {
        floating true
        move_to_focused_tab true
      }
    }
    bind "Ctrl b" {
      SwitchToMode "tmux"
    }
    bind "Super t" {
      NewTab
    }
    bind "Super r" {
      SwitchToMode "RenameTab"
      TabNameInput 0
    }
    bind "Alt Left" {
      GoToPreviousTab
    }
    bind "Alt Right" {
      GoToNextTab
    }
    bind "Super 1" {
      GoToTab 1
    }
    bind "Super 2" {
      GoToTab 2
    }
    bind "Super 3" {
      GoToTab 3
    }
    bind "Super 4" {
      GoToTab 4
    }
    bind "Super 5" {
      GoToTab 5
    }
    bind "Super 6" {
      GoToTab 6
    }
    bind "Super 7" {
      GoToTab 7
    }
    bind "Super 8" {
      GoToTab 8
    }
    bind "Super 9" {
      GoToTab 9
    }
  }
  tmux {
    bind "\\" {
      NewPane "Right"
      SwitchToMode "normal"
    }
    bind "-" {
      NewPane "Down"
      SwitchToMode "normal"
    }
    bind "Esc" {
      SwitchToMode "normal"
    }
    bind "c" {
      NewTab
      SwitchToMode "normal"
    }
    bind "p" {
      GoToPreviousTab
      SwitchToMode "normal"
    }
    bind "n" {
      GoToNextTab
      SwitchToMode "normal"
    }
    bind "[" {
      SwitchToMode "Scroll"
    }
    bind "/" {
      SwitchToMode "EnterSearch"
      SearchInput 0
    }
    bind "h" {
      MessagePlugin "vim-nav" {
        name "move_focus"
        payload "left"
      }
      SwitchToMode "normal"
    }
    bind "j" {
      MessagePlugin "vim-nav" {
        name "move_focus"
        payload "down"
      }
      SwitchToMode "normal"
    }
    bind "k" {
      MessagePlugin "vim-nav" {
        name "move_focus"
        payload "up"
      }
      SwitchToMode "normal"
    }
    bind "l" {
      MessagePlugin "vim-nav" {
        name "move_focus"
        payload "right"
      }
      SwitchToMode "normal"
    }
    bind "m" {
      ToggleActiveSyncTab
      SwitchToMode "normal"
    }
  }
  scroll {
    bind "Ctrl s" {
      SwitchToMode "Normal"
    }
    bind "e" {
      EditScrollback
      SwitchToMode "Normal"
    }
    bind "s" {
      SwitchToMode "EnterSearch"
      SearchInput 0
    }
    bind "/" {
      SwitchToMode "EnterSearch"
      SearchInput 0
    }
    bind "Ctrl c" {
      ScrollToBottom
      SwitchToMode "Normal"
    }
    bind "j" "Down" {
      ScrollDown
    }
    bind "k" "Up" {
      ScrollUp
    }
    bind "Ctrl f" "PageDown" "Right" "l" {
      PageScrollDown
    }
    bind "Ctrl b" "PageUp" "Left" "h" {
      PageScrollUp
    }
    bind "d" {
      HalfPageScrollDown
    }
    bind "u" {
      HalfPageScrollUp
    }
 // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
  }
  search {
    bind "Ctrl s" {
      SwitchToMode "Normal"
    }
    bind "Ctrl c" {
      ScrollToBottom
      SwitchToMode "Normal"
    }
    bind "j" "Down" {
      ScrollDown
    }
    bind "k" "Up" {
      ScrollUp
    }
    bind "Ctrl f" "PageDown" "Right" "l" {
      PageScrollDown
    }
    bind "Ctrl b" "PageUp" "Left" "h" {
      PageScrollUp
    }
    bind "d" {
      HalfPageScrollDown
    }
    bind "u" {
      HalfPageScrollUp
    }
    bind "n" {
      Search "down"
    }
    bind "p" {
      Search "up"
    }
    bind "c" {
      SearchToggleOption "CaseSensitivity"
    }
    bind "w" {
      SearchToggleOption "Wrap"
    }
    bind "o" {
      SearchToggleOption "WholeWord"
    }
  }
  entersearch {
    bind "Ctrl c" "Esc" {
      SwitchToMode "Scroll"
    }
    bind "Enter" {
      SwitchToMode "Search"
    }
  }
  renametab {
    bind "Esc" {
      SwitchToMode "Normal"
    }
    bind "Enter" {
      SwitchToMode "Normal"
    }
  }
  shared_except "locked" {
    bind "Ctrl Shift g" {
      SwitchToMode "Locked"
    }
    bind "Alt h" {
      MessagePlugin "vim-nav" {
        name "resize"
        payload "left"
      }
    }
    bind "Alt j" {
      MessagePlugin "vim-nav" {
        name "resize"
        payload "down"
      }
    }
    bind "Alt k" {
      MessagePlugin "vim-nav" {
        name "resize"
        payload "up"
      }
    }
    bind "Alt l" {
      MessagePlugin "vim-nav" {
        name "resize"
        payload "right"
      }
    }
  }
}
plugins {
  // zjstatus location="file:/Users/brian/.config/zellij/plugins/zjstatus.wasm" {
  vim-nav location="file:~/.config/zellij/plugins/vim-zellij-navigator.wasm"
  zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm" {
    // catppuccin-mocha colors
    color_rosewater "#f5e0dc"
    color_flamingo "#f2cdcd"
    color_pink "#f5c2e7"
    color_mauve "#cba6f7"
    color_red "#f38ba8"
    color_maroon "#eba0ac"
    color_peach "#fab387"
    color_yellow "#f9e2af"
    color_green "#a6e3a1"
    color_teal "#94e2d5"
    color_sky "#89dceb"
    color_sapphire "#74c7ec"
    color_blue "#89b4fa"
    color_lavender "#b4befe"
    color_text "#cdd6f4"
    color_subtext1 "#bac2de"
    color_subtext0 "#a6adc8"
    color_overlay2 "#9399b2"
    color_overlay1 "#7f849c"
    color_overlay0 "#6c7086"
    color_surface2 "#585b70"
    color_surface1 "#45475a"
    color_surface0 "#313244"
    color_base "#1e1e2e"
    color_mantle "#181825"
    color_crust "#11111b"
    //
    hide_frame_for_single_pane true
    //
    format_left "#[bg=$surface0]{tabs}"
    format_center "{notifications}"
    format_right "{mode}#[bg=$base]"
    format_space "#[bg=$surface0]"
    format_hide_on_overlength "true"
    format_precedence "lrc"
    //
    border_enabled "false"
    border_char "─"
    border_format "#[bg=$surface0]{char}"
    border_position "top"
    //
    mode_normal "#[bg=$green,fg=$crust,bold]   #[bg=$surface0,fg=$green]"
    mode_tmux "#[bg=$mauve,fg=$crust,bold]   #[bg=$surface0,fg=$lavender]"
    mode_locked "#[bg=$red,fg=$crust,bold]    #[bg=$surface0,fg=$red]"
    mode_pane "#[bg=$teal,fg=$crust,bold]   #[bg=$surface0,fg=$teal]"
    mode_tab "#[bg=$teal,fg=$crust,bold] 󰓩  #[bg=$surface0,fg=$teal]"
    mode_scroll "#[bg=$flamingo,fg=$crust,bold] 󱕒  #[bg=$surface0,fg=$flamingo]"
    mode_enter_search "#[bg=$flamingo,fg=$crust,bold]   #[bg=$surface0,fg=$flamingo]"
    mode_search "#[bg=$flamingo,fg=$crust,bold]   #[bg=$surface0,fg=$flamingo]"
    mode_resize "#[bg=$yellow,fg=$crust,bold] 󰙖  #[bg=$surface0,fg=$yellow]"
    mode_rename_tab "#[bg=$yellow,fg=$crust,bold]    #[bg=$surface0,fg=$yellow]"
    mode_rename_pane "#[bg=$yellow,fg=$crust,bold]    #[bg=$surface0,fg=$yellow]"
    mode_move "#[bg=$yellow,fg=$crust,bold]   #[bg=$surface0,fg=$yellow]"
    mode_session "#[bg=$pink,fg=$crust,bold]   #[bg=$surface0,fg=$pink]"
    mode_prompt "#[bg=$pink,fg=$crust,bold] 󰟶  #[bg=$surface0,fg=$pink]"
    //
    tab_normal              "#[bg=$surface0,fg=$blue] {index} {name}{floating_indicator} #[bg=$surface0,fg=surface1]"
    tab_normal_fullscreen   "#[bg=$surface0,fg=$blue] {index} {name}{fullscreen_indicator} #[bg=$surface0,fg=$surface1]"
    tab_normal_sync         "#[bg=$surface0,fg=$blue] {index} {name}{sync_indicator} #[bg=$surface0,fg=$surface1]"
    tab_active              "#[bg=$surface1,fg=$peach] {index} {name}{floating_indicator} #[bg=$surface0,fg=$surface1]"
    tab_active_fullscreen   "#[bg=$surface0,fg=$peach] {index} {name}{fullscreen_indicator} #[bg=$surface0,fg=$surface1]"
    tab_active_sync         "#[bg=$surface0,fg=$peach] {index} {name}{sync_indicator} #[bg=$surface0,fg=$surface1]"
    tab_separator           "#[bg=$surface0]"
    //
    tab_sync_indicator " "
    tab_fullscreen_indicator "󰊓 "
    tab_floating_indicator "󰹙 "
    //
    notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$surface0,fg=$yellow]"
    notification_format_no_notifications ""
    notification_show_interval "10"
  }
}

