theme "catppuccin-mocha"
pane_frames false
copy_on_select true
scroll_buffer_size 10000
show_startup_tips false
ui {
  pane_frames {
    rounded_corners true
    hide_session_name false
  }
}
keybinds clear-defaults=true {
  locked {
    bind "Ctrl Shift g" {
      SwitchToMode "Normal"
    }
  }
  normal {
    bind "Super p" {
      LaunchOrFocusPlugin "plugin-manager" {
        floating true
        move_to_focused_tab true
      }
    }
    bind "Ctrl b" {
      SwitchToMode "tmux"
    }
    bind "Super t" {
      NewTab
    }
    bind "Super r" {
      SwitchToMode "RenameTab"
      TabNameInput 0
    }
    bind "Alt Left" {
      GoToPreviousTab
    }
    bind "Alt Right" {
      GoToNextTab
    }
    bind "Super 1" {
      GoToTab 1
    }
    bind "Super 2" {
      GoToTab 2
    }
    bind "Super 3" {
      GoToTab 3
    }
    bind "Super 4" {
      GoToTab 4
    }
    bind "Super 5" {
      GoToTab 5
    }
    bind "Super 6" {
      GoToTab 6
    }
    bind "Super 7" {
      GoToTab 7
    }
    bind "Super 8" {
      GoToTab 8
    }
    bind "Super 9" {
      GoToTab 9
    }
  }
  tmux {
    bind "\\" {
      NewPane "Right"
      SwitchToMode "normal"
    }
    bind "-" {
      NewPane "Down"
      SwitchToMode "normal"
    }
    bind "Esc" {
      SwitchToMode "normal"
    }
    bind "c" {
      NewTab
      SwitchToMode "normal"
    }
    bind "p" {
      GoToPreviousTab
      SwitchToMode "normal"
    }
    bind "n" {
      GoToNextTab
      SwitchToMode "normal"
    }
    bind "[" {
      SwitchToMode "Scroll"
    }
    bind "/" {
      SwitchToMode "EnterSearch"
      SearchInput 0
    }
    bind "h" {
      MessagePlugin "vim-nav" {
        name "move_focus"
        payload "left"
      }
      SwitchToMode "normal"
    }
    bind "j" {
      MessagePlugin "vim-nav" {
        name "move_focus"
        payload "down"
      }
      SwitchToMode "normal"
    }
    bind "k" {
      MessagePlugin "vim-nav" {
        name "move_focus"
        payload "up"
      }
      SwitchToMode "normal"
    }
    bind "l" {
      MessagePlugin "vim-nav" {
        name "move_focus"
        payload "right"
      }
      SwitchToMode "normal"
    }
    bind "m" {
      ToggleActiveSyncTab
      SwitchToMode "normal"
    }
  }
  scroll {
    bind "Ctrl s" {
      SwitchToMode "Normal"
    }
    bind "e" {
      EditScrollback
      SwitchToMode "Normal"
    }
    bind "s" {
      SwitchToMode "EnterSearch"
      SearchInput 0
    }
    bind "/" {
      SwitchToMode "EnterSearch"
      SearchInput 0
    }
    bind "Ctrl c" {
      ScrollToBottom
      SwitchToMode "Normal"
    }
    bind "j" "Down" {
      ScrollDown
    }
    bind "k" "Up" {
      ScrollUp
    }
    bind "Ctrl f" "PageDown" "Right" "l" {
      PageScrollDown
    }
    bind "Ctrl b" "PageUp" "Left" "h" {
      PageScrollUp
    }
    bind "d" {
      HalfPageScrollDown
    }
    bind "u" {
      HalfPageScrollUp
    }
 // uncomment this and adjust key if using copy_on_select=false
        // bind "Alt c" { Copy; }
  }
  search {
    bind "Ctrl s" {
      SwitchToMode "Normal"
    }
    bind "Ctrl c" {
      ScrollToBottom
      SwitchToMode "Normal"
    }
    bind "j" "Down" {
      ScrollDown
    }
    bind "k" "Up" {
      ScrollUp
    }
    bind "Ctrl f" "PageDown" "Right" "l" {
      PageScrollDown
    }
    bind "Ctrl b" "PageUp" "Left" "h" {
      PageScrollUp
    }
    bind "d" {
      HalfPageScrollDown
    }
    bind "u" {
      HalfPageScrollUp
    }
    bind "n" {
      Search "down"
    }
    bind "p" {
      Search "up"
    }
    bind "c" {
      SearchToggleOption "CaseSensitivity"
    }
    bind "w" {
      SearchToggleOption "Wrap"
    }
    bind "o" {
      SearchToggleOption "WholeWord"
    }
  }
  entersearch {
    bind "Ctrl c" "Esc" {
      SwitchToMode "Scroll"
    }
    bind "Enter" {
      SwitchToMode "Search"
    }
  }
  renametab {
    bind "Esc" {
      SwitchToMode "Normal"
    }
    bind "Enter" {
      SwitchToMode "Normal"
    }
  }
  shared_except "locked" {
    bind "Ctrl Shift g" {
      SwitchToMode "Locked"
    }
    bind "Alt h" {
      MessagePlugin "vim-nav" {
        name "resize"
        payload "left"
      }
    }
    bind "Alt j" {
      MessagePlugin "vim-nav" {
        name "resize"
        payload "down"
      }
    }
    bind "Alt k" {
      MessagePlugin "vim-nav" {
        name "resize"
        payload "up"
      }
    }
    bind "Alt l" {
      MessagePlugin "vim-nav" {
        name "resize"
        payload "right"
      }
    }
  }
}
plugins {
  // zjstatus location="file:/Users/brian/.config/zellij/plugins/zjstatus.wasm" {
  vim-nav location="file:~/.config/zellij/plugins/vim-zellij-navigator.wasm"
  zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm" {
    color_bg_dark "#1a1b26"
    color_bg "#24283b"
    color_bg_highlight "#292e42"
    color_terminal_black "#414868"
    color_fg "#c0caf5"
    color_fg_dark "#a9b1d6"
    color_fg_gutter "#3b4261"
    color_dark3 "#545c7e"
    color_comment "#565f89"
    color_dark5 "#737aa2"
    color_blue0 "#3d59a1"
    color_blue "#7aa2f7"
    color_cyan "#7dcfff"
    color_blue1 "#2ac3de"
    color_blue2 "#0db9d7"
    color_blue5 "#89ddff"
    color_blue6 "#b4f9f8"
    color_blue7 "#394b70"
    color_magenta "#bb9af7"
    color_magenta2 "#ff007c"
    color_purple "#9d7cd8"
    color_orange "#ff9e64"
    color_yellow "#e0af68"
    color_green "#9ece6a"
    color_green1 "#73daca"
    color_green2 "#41a6b5"
    color_teal "#1abc9c"
    color_red "#f7768e"
    color_red1 "#db4b4b"
    hide_frame_for_single_pane true
    format_left "{tabs}"
    format_center "#[bg=$bg]{notifications}"
    format_right "{mode}#[bg=$bg]"
    format_space "#[bg=$bg]"
    format_hide_on_overlength "true"
    format_precedence "lrc"
    // border_enabled  false
    // border_char     "-"
    // border_format   "#[bg=$bg]{name}{char}"
    // border_position "top"
    // mode_normal        "#[fg=$green,bg=$bg,bold]#[bg=$green,fg=$bg,bold] NORMAL #[bg=$bg,fg=$green]"
    mode_tmux "#[fg=$purple,bg=$bg,bold]#[bg=$purple,fg=$bg,bold]   #[bg=$bg,fg=$purple]"
    mode_locked "#[fg=$red,bg=$bg,bold]#[bg=$red,fg=$bg,bold]   #[bg=$bg,fg=$red]"
    // mode_pane          "#[fg=$cyan,bg=$bg,bold]#[bg=$cyan,fg=$bg,bold] PANE #[bg=$bg,fg=$cyan]"
    // mode_tab           "#[fg=$cyan,bg=$bg,bold]#[bg=$cyan,fg=$bg,bold] TAB #[bg=$bg,fg=$cyan]"
    // mode_scroll        "#[fg=$orange,bg=$bg,bold]#[bg=$orange,fg=$bg,bold] SCROLL #[bg=$bg,fg=$orange]"
    // mode_enter_search  "#[fg=$orange,bg=$bg,bold]#[bg=$orange,fg=$bg,bold] ENT-SEARCH #[bg=$bg,fg=$orange]"
    // mode_search        "#[fg=$orange,bg=$bg,bold]#[bg=$orange,fg=$bg,bold] SEARCH #[bg=$bg,fg=$orange]"
    // mode_resize        "#[fg=$yellow,bg=$bg,bold]#[bg=$yellow,fg=$bg,bold] RESIZE #[bg=$bg,fg=$yellow]"
    mode_rename_tab "#[fg=$yellow,bg=$bg,bold]#[bg=$yellow,fg=$bg,bold]   #[bg=$bg,fg=$yellow]"
    mode_rename_pane "#[fg=$yellow,bg=$bg,bold]#[bg=$yellow,fg=$bg,bold]   #[bg=$bg,fg=$yellow]"
    // mode_move          "#[fg=$yellow,bg=$bg,bold]#[bg=$yellow,fg=$bg,bold] MOVE #[bg=$bg,fg=$yellow]"
    // mode_session       "#[fg=$magenta,bg=$bg,bold]#[bg=$magenta,fg=$bg,bold] SESSION #[bg=$bg,fg=$magenta]"
    // mode_prompt        "#[fg=$magenta,bg=$bg,bold]#[bg=$magenta,fg=$bg,bold] PROMPT #[bg=$bg,fg=$magenta]"
    tab_normal "#[bg=$bg,fg=$dark5]#[bg=$bg,fg=$dark5,bold]#[bg=$dark5,fg=$fg_dark,bold]{index} #[bg=$comment,fg=$dark5,bold] {name}{floating_indicator}#[bg=$bg,fg=$comment]#[bg=$bg,fg=$comment]"
    tab_normal_fullscreen "#[bg=$bg,fg=$dark5]#[bg=$bg,fg=$dark5,bold]#[bg=$dark5,fg=$fg_dark,bold]{index} #[bg=$comment,fg=$dark5,bold] {name}{fullscreen_indicator}#[bg=$bg,fg=$comment]#[bg=$bg,fg=$comment]"
    tab_normal_sync "#[bg=$bg,fg=$dark5]#[bg=$bg,fg=$dark5,bold]#[bg=$dark5,fg=$fg_dark,bold]{index} #[bg=$comment,fg=$dark5,bold] {name}{sync_indicator}#[bg=$bg,fg=$comment]#[bg=$bg,fg=$comment]"
    tab_active "#[bg=$bg,fg=$blue]#[bg=$bg,fg=$blue,bold]#[bg=$blue,fg=$bg,bold]{index} #[bg=$comment,fg=$blue,bold] {name}{floating_indicator}#[bg=$bg,fg=$comment]#[bg=$bg,fg=$comment]"
    tab_active_fullscreen "#[bg=$bg,fg=$blue]#[bg=$bg,fg=$blue,bold]#[bg=$blue,fg=$bg,bold]{index} #[bg=$comment,fg=$blue,bold] {name}{fullscreen_indicator}#[bg=$bg,fg=$comment]#[bg=$bg,fg=$comment]"
    tab_active_sync "#[bg=$bg,fg=$blue]#[bg=$bg,fg=$blue,bold]#[bg=$blue,fg=$bg,bold]{index} #[bg=$comment,fg=$blue,bold] {name}{sync_indicator}#[bg=$bg,fg=$comment]#[bg=$bg,fg=$comment]"
    tab_separator "#[bg=$bg] "
    tab_sync_indicator " "
    tab_fullscreen_indicator " 󰊓"
    tab_floating_indicator " 󰹙"
    notification_format_unread "#[bg=$bg,fg=$yellow]#[bg=$yellow,fg=$bg_dark] #[bg=$bg_highlight,fg=$yellow] {message}#[bg=$bg,fg=$yellow]"
    notification_format_no_notifications ""
    notification_show_interval "10"
  }
}

