# This file is created by chezmoi, but otherwise ignored. Make all the local
# changes you want!

[tools]
'asdf:neovim' = 'nightly'
{{ if .dev.web -}}
node = 'latest'
{{ end -}}
{{ if .dev.go -}}
go = 'latest'
{{ end -}}

[settings]
experimental = true
disable_backends = ['asdf']
